/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals-preparation_crop-featureextraction_chromagram.json
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals-preparation_crop-featureextraction_melspectrogram.json
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals-preparation_crop-featureextraction_mfcc.json
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals-preparation_crop.wav
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals.wav
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc.wav
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals-preparation_crop-featureextraction_chromagram.json
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals-preparation_crop-featureextraction_melspectrogram.json
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals-preparation_crop-featureextraction_mfcc.json
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals-preparation_crop.wav
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals.wav
/3zh9Wb1KuW8_youtube-cutout_chorus-normalize_tempoto120.wav
/3zh9Wb1KuW8_youtube-cutout_chorus.wav
/3zh9Wb1KuW8_youtube-describe_attributes.json
/3zh9Wb1KuW8_youtube-normalize_tempoto120-normalize_keytoc.wav
/3zh9Wb1KuW8_youtube-normalize_tempoto120.wav
/3zh9Wb1KuW8_youtube.wav
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals-preparation_crop-featureextraction_chromagram.json
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals-preparation_crop-featureextraction_melspectrogram.json
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals-preparation_crop-featureextraction_mfcc.json
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals-preparation_crop.wav
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc-trackseparation_vocals.wav
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-normalize_keytoc.wav
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals-preparation_crop-featureextraction_chromagram.json
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals-preparation_crop-featureextraction_melspectrogram.json
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals-preparation_crop-featureextraction_mfcc.json
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals-preparation_crop.wav
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120-trackseparation_vocals.wav
/pKfg-khvlfs_youtube-cutout_chorus-normalize_tempoto120.wav
/pKfg-khvlfs_youtube-cutout_chorus.wav
/pKfg-khvlfs_youtube-describe_attributes.json
/pKfg-khvlfs_youtube-normalize_tempoto120-normalize_keytoc.wav
/pKfg-khvlfs_youtube-normalize_tempoto120.wav
/pKfg-khvlfs_youtube.wav
